* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
small,
i,
em,
address,
ol,
ul,
li,
dl,
dt,
dd,
a,
span,
form,
fieldset,
legend,
label,
input,
button,
select,
option,
textarea,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td {
  font-family: "Roboto", "Noto Sans KR", "Malgun Gothic", 굴림, Gulim, 돋움,
    Dotum, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}
button {
  background: none;
  cursor: pointer;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ds {
  display: none;
}
