/* =================================== skipnavi */
.skip_menu {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  font-size: 0;
  text-indent: -9999px;
  z-index: 99999;
}
.skip_menu li a:focus,
.skip_menu li a:active {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: #000;
  color: #ffffff;
  position: absolute;
  top: 100px;
  text-indent: 0px;
}
/* =================================== wrap */
#wrap {
  width: 100%;
  height: auto;
}
/* ============================== header */
header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
/* header > header_top */
.header_top {
  width: 100%;
  height: 40px;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 0;
  z-index: 1010;
}
.header_top.gnbOn {
  background-color: #f5f5f5;
}
.header_top.gnbOn > a,
.header_top.gnbOn > button,
.header_top.gnbOn > .lang_box,
.header_top.gnbOn > .lang_box > button {
  color: #666666;
}
.header_top > a {
  display: inline-block;
  margin-right: 14px;
  padding-right: 14px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.header_top > a:after {
  display: block;
  content: "";
  width: 1px;
  height: 13px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 6px;
  right: 0;
}
.header_top.gnbOn > a:after {
  background: rgba(0, 0, 0, 0.15);
}
/* header_top > lang_box */
.header_top .lang_box {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.header_top .lang_box button {
  display: inline-block;
  height: 19px;
  padding-right: 17px;
  background: url(../img/Icon_lang_box_down.png) no-repeat right center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  line-height: 19px;
  position: relative;
  overflow: hidden;
}
.header_top.gnbOn .lang_box button {
  background-image: url(../img/Icon_lang_box_down_gray.png);
}
/* lang_box > lang */
.lang_box .lang {
  display: none;
  width: 80px;
  margin-left: -40px;
  padding: 8px 16px;
  border: 1px solid #dbdee1;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: -5px;
  overflow: hidden;
  z-index: 1101;
}
.lang_box .lang.on {
  display: block;
}
.lang_box .lang ul li {
  display: block;
  margin-bottom: 7px;
  padding-left: 1px;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
}
.lang_box .lang ul li:nth-of-type(4) {
  margin-bottom: 0;
}
.lang_box .lang ul li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}
.lang_box .lang ul li a.on {
  display: block;
  background: url(../img/Icon_lang_box_up.png) no-repeat right center;
}
/* header_top > header_pop_btt */
.header_top .header_pop_btt {
  display: inline-block;
  height: 20px;
  padding-right: 28px;
  background: url(../img/Icon_pop_down.png) no-repeat right center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.header_top.gnbOn .header_pop_btt {
  background-image: url(../img/Icon_pop_down_black.png);
}
/* header > header_nav */
.header_nav {
  width: 100%;
  height: auto;
  padding: 0 230px 0 300px;
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;
}
.header_nav.gnbOn {
  background-color: #ffffff;
}
.header_nav:before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #dbdee1;
  position: absolute;
  top: 89px;
  left: 0;
  opacity: 0;
  z-index: 1000;
}
.header_nav.gnbOn:before {
  opacity: 1;
}
/* header_nav > logo */
.header_nav .logo {
  position: absolute;
  left: 35px;
  top: 29.5px;
  z-index: 1001;
}
.header_nav .logo a {
  display: block;
  height: 31px;
  overflow: hidden;
}
.header_nav .logo a img {
  max-width: none;
  height: 100%;
}
.header_nav.gnbOn .logo a > img {
  display: none;
}
.header_nav .logo a span {
  display: none;
  height: 100%;
}
.header_nav.gnbOn .logo a > span {
  display: block;
}
/* header_nav > nav */
.header_nav > nav {
  text-align: center;
  font-size: 0;
}
/* nav > gnb */
nav .gnb {
  width: 100%;
  height: 90px;
  padding: 34px 0 0;
  position: relative;
  text-align: center;
  font-size: 0;
  z-index: 1001;
}
.gnb > li {
  display: inline-block;
  padding: 0 1.9%;
  vertical-align: top;
  transition: 0.2s;
}
.gnb > li > a {
  display: block;
  height: 26px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 26px;
  text-align: left;
  position: relative;
  transition: 0.2s;
}
.header_nav.gnbOn .gnb > li > a {
  color: #000000;
}
.header_nav.gnbOn .gnb > li > a:hover {
  color: #00589e;
}
.gnb > li > a:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #00589e;
  position: absolute;
  bottom: -30px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}
.gnb > li > a:hover:after {
  opacity: 1;
}
/* gnb > sub_menu */
.gnb ul.sub_menu {
  display: none;
  width: 100%;
  padding: 0 0 40px;
  border-right: 1px solid #dbdee1;
  border-left: 1px solid #dbdee1;
  background-color: #ffffff;
  position: absolute;
  top: 91px;
  left: 0;
  font-size: 0;
  text-align: left;
  overflow: hidden;
}
.gnb ul.sub_menu:before,
.gnb ul.sub_menu:after {
  display: block;
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
}
.gnb ul.sub_menu:after {
  top: auto;
  bottom: 0;
}
.gnb li:hover ul.sub_menu:not(.in_icon) {
  display: block;
}
.gnb ul.sub_menu:not(.in_icon) > li {
  display: inline-table;
  width: 20%;
  padding: 40px 20px 0 30px;
  font-size: 0;
  vertical-align: top;
}
.gnb ul.sub_menu:not(.in_icon) > li > a {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1px;
  text-align: left;
  vertical-align: top;
}
.gnb ul.sub_menu:not(.in_icon) > li > a:hover {
  color: #00589e;
}
.gnb ul.sub_menu:not(.in_icon) > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: -31px;
  top: 0;
  width: 1px;
  height: 600px;
  background: #dbdee1;
}
/* gnb > s_m_sub */
.gnb ul.s_m_sub {
  padding-top: 3px;
}
.gnb ul.s_m_sub > li {
  display: block;
  margin-top: 12px;
  font-size: 0;
}
.gnb ul.s_m_sub > li > a {
  display: inline-block;
  color: #555;
  font-size: 14px;
  letter-spacing: -1px;
  /* line-height: 20px; */
  line-height: 14px;
  text-align: left;
}
.gnb ul.s_m_sub > li > a:hover {
  color: #00589e;
}
/* gnb > in_icon */
.gnb ul.sub_menu.in_icon {
  border: none;
  font-size: 0;
  width: 100%;
}
.gnb .in_icon > li {
  display: inline-block;
  width: 12.5%;
  padding: 50px 0 10px 0;
  vertical-align: top;
}
.gnb .in_icon > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
}
.gnb .in_icon li a:hover {
  color: #00589e;
}
.gnb .in_icon > li > a span {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 18px auto;
  border-radius: 50%;
  background-color: #edf1f6;
  background-repeat: no-repeat;
  background-position: center;
}
.gnb .in_icon li a:hover span {
  background-color: #00589e;
}
.gnb .in_icon li a span.Icon1 {
  background-image: url(../img/Icon_gnb_1.png);
}
.gnb .in_icon li a span.Icon2 {
  background-image: url(../img/Icon_gnb_2.png);
}
.gnb .in_icon li a span.Icon3 {
  background-image: url(../img/Icon_gnb_3.png);
}
.gnb .in_icon li a span.Icon4 {
  background-image: url(../img/Icon_gnb_4.png);
}
.gnb .in_icon li a span.Icon5 {
  background-image: url(../img/Icon_gnb_5.png);
}
.gnb .in_icon li a span.Icon6 {
  background-image: url(../img/Icon_gnb_6.png);
}
.gnb .in_icon li a span.Icon7 {
  background-image: url(../img/Icon_gnb_7.png);
}
.gnb .in_icon li a:hover span.Icon1 {
  background-image: url(../img/Icon_gnb_1_white.png);
}
.gnb .in_icon li a:hover span.Icon2 {
  background-image: url(../img/Icon_gnb_2_white.png);
}
.gnb .in_icon li a:hover span.Icon3 {
  background-image: url(../img/Icon_gnb_3_white.png);
}
.gnb .in_icon li a:hover span.Icon4 {
  background-image: url(../img/Icon_gnb_4_white.png);
}
.gnb .in_icon li a:hover span.Icon5 {
  background-image: url(../img/Icon_gnb_5_white.png);
}
.gnb .in_icon li a:hover span.Icon6 {
  background-image: url(../img/Icon_gnb_6_white.png);
}
.gnb .in_icon li a:hover span.Icon7 {
  background-image: url(../img/Icon_gnb_7_white.png);
}
/* header_nav > nav_util*/
.nav_util {
  position: absolute;
  right: 45px;
  top: 25px;
  width: 235px;
  font-size: 0;
  text-align: right;
  z-index: 1100;
}
.nav_util > button {
  display: inline-block;
  width: 36px;
  height: 40px;
  margin-left: 15px;
  background: url(../img/Icon_nav_search.png) no-repeat center;
  color: #ffffff;
  font-size: 15px;
  line-height: 40px;
  text-align: left;
  text-indent: -99999px;
  overflow: hidden;
  vertical-align: top;
}
.header_nav.gnbOn .nav_util > button {
  background-image: url(../img/Icon_nav_search_black.png);
}
/* nav_util > move_airport */
.move_airport {
  display: inline-block;
}
.move_airport > button {
  display: inline-block;
  width: 135px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-left: 0px;
  padding: 0 39px 0 19px;
  background: url(../img/Icon_lang_box_down.png) no-repeat right 18px center;
  font-size: 15px;
  /* line-height: 40px; */
  text-align: left;
  color: #fff;
  overflow: hidden;
}
.header_nav.gnbOn .nav_util .move_airport > button {
  color: #666666;
  border: 1px solid #dbdee1;
  background-image: url(../img/Icon_lang_box_down_gray.png);
}
/* move_airport > move_airport_list */
.move_airport_list {
  display: none;
  position: absolute;
  left: 50%;
  top: -8px;
  width: 274px;
  margin-left: -128px;
  padding: 25px 30px;
  border: 1px solid #dbdee1;
  border-radius: 9px;
  background: #fff;
  overflow: hidden;
  z-index: 1100;
}
.move_airport_list.on {
  display: block;
}
.move_airport_list ul {
  overflow: hidden;
}
.move_airport_list ul li {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 10px;
  text-align: left;
  line-height: 19px;
}
.move_airport_list ul li:last-child {
  margin-bottom: 0;
}
.move_airport_list ul li a {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 19px;
}
.move_airport_list ul li a:hover {
  color: #a70638;
}
.move_airport_list > button {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: 11px;
  height: 11px;
  background-image: url(../img/Icon_lang_box_close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  text-indent: -99999px;
}
/* ============================== container */
#container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* ========================= banner */
#banner {
  width: 100%;
  height: auto;
  background-image: url(../img/Banner1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* banner > banner_ct */
.banner_ct {
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
  padding: 280px 0 500px;
  position: relative;
}
/* banner_ct > banner_txt */
.banner_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
.banner_txt p:nth-of-type(1) {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 1em;
}
.banner_txt p:nth-of-type(2) {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 82px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1em;
}
/* banner_ct > banner_slide_btt */
.banner_slide_btt {
  width: 100%;
  position: absolute;
  top: 205px;
}
.banner_slide_btt ul {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0;
}
.banner_slide_btt ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}
.banner_slide_btt ul li button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  text-indent: -99999px;
}
.banner_slide_btt ul li button:before {
  content: "";
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  transition: all 0.3s;
}
.banner_slide_btt ul li.on button:before {
  width: 15px;
  background-color: rgba(255, 255, 255, 0);
  border-color: #fff;
  height: 15px;
  top: 0;
  left: 0;
}
.banner_slide_btt ul li:last-child button {
  display: block;
  width: 7px;
  height: 15px;
  background-image: url(../img/Icon_banner_stop.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  text-indent: -9999px;
}
.banner_slide_btt ul li:last-child button:before {
  content: none;
}
/* banner_ct > banner_menu */
.banner_menu {
  width: 100%;
  height: auto;
  margin-top: 65px;
  text-align: center;
  position: absolute;
  top: 400px;
  font-size: 0;
}
.banner_menu a {
  display: inline-block;
  width: 168px;
  text-align: center;
  vertical-align: top;
}
.banner_menu a span {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
}
.banner_menu a span img {
  max-width: 100%;
  margin-top: 20px;
}
.banner_menu a b {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
}
/* banner_ct > banner_search */
.banner_search {
  width: 100%;
  font-size: 0;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}
/* banner_search > air_search */
.banner_search .air_search {
  display: inline-block;
  max-width: 1180px;
  width: 100%;
  height: auto;
}
/* air_search > air_search_select */
.air_search_select {
  width: 100%;
  font-size: 0;
  text-align: left;
}
.air_search_select button {
  display: inline-block;
  height: 25px;
  vertical-align: top;
}
.air_search_select button:nth-of-type(1) {
  margin-right: 30px;
}
.air_search_select button span {
  display: block;
  padding-top: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1em;
}
.air_search_select button.on span {
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
}
/* air_search > air_search_box */
.air_search_box {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  padding-right: 100px;
  background-color: #fff;
  font-size: 0;
  text-align: left;
  position: relative;
}
.air_search_box > a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1em;
  position: absolute;
  top: -40px;
  right: 0;
  padding-right: 15px;
  background-image: url(../img/Icon_air_search_arr.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.air_search_box > button {
  width: 100px;
  height: 100px;
  background-color: #a60436;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.air_search_box .ASB {
  display: inline-block;
  height: 100px;
  padding: 22px 30px 0 30px;
  font-size: 0;
  vertical-align: top;
  position: relative;
}
.air_search_box .ASB:before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dddddd;
}
.air_search_box .ASB label {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
}
/* ASB > ASB_btt */
.air_search_box .ASB_btt {
  width: 100%;
  height: 26px;
  text-align: left;
  background-image: url(../img/Icon_air_search_box_arr.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.air_search_box .ASB_btt span {
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
}
/* ASB > ASB_opt */
.air_search_box .ASB_opt {
  width: 100%;
  height: auto;
  display: none;
}
.air_search_box .ASB_opt.on {
  display: block;
}
/* ASB > ASB_opt_list */
.air_search_box .ASB_opt_list {
  width: calc(100% - 1px);
  padding: 10px 30px 15px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 100%;
  box-shadow: 0 5px 30px -15px #666;
  z-index: 1;
}
.air_search_box .ASB_opt_list_ct {
  margin-top: 15px;
}
.air_search_box .ASB_opt_list_ct > li {
  display: block;
  margin-bottom: 12px;
  padding-right: 25px;
  font-size: 0;
}
.air_search_box .ASB_opt_list_ct > li.on {
  background: url(../img/Icon_air_search_box_check.png) no-repeat right top 5px;
}
.air_search_box .ASB_opt_list_ct > li > button {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.air_search_box .ASB_opt_list_ct > li.on > button {
  color: #00589e;
}
/* air_search_box > airLocation */
.air_search_box .airLocation {
  width: 18.5%;
}
/* air_search_box > airTime */
.air_search_box .airTime {
  width: 27%;
}
.airTime .airTime_time {
  display: inline-block;
  width: calc(50% - 20px);
  font-size: 0;
  vertical-align: top;
}
.airTime .airTime_time .ATS {
  display: inline-block;
  width: 50%;
  height: 26px;
  padding: 0 10px 0 0;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
  vertical-align: middle;
  background: #fff url(../img/Icon_air_search_time_arr.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.airTime .airTime span {
  display: inline-block;
  width: 40px;
  height: 20px;
  padding-right: 10px;
  color: #000;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
}
/* air_search_box > airSection */
.air_search_box .airSection {
  width: 14.5%;
}
/* air_search_box > airLine */
.air_search_box .airLine {
  width: 21.5%;
}
/* air_search_box > airCarrier */
.air_search_box .airCarrier {
  width: 18.5%;
}
.air_search_box .airCarrier input {
  width: 100%;
  height: 26px;
  padding: 0;
  color: #000;
  font-size: 20px;
  line-height: 1em;
  vertical-align: top;
}
/* air_search_box > weather */
.air_search_box .weather {
  display: inline-block;
  width: 130px;
  padding-left: 20px;
  font-size: 0;
  vertical-align: middle;
  position: absolute;
  top: 26px;
  right: -130px;
}
.air_search_box .weather img {
  display: inline-block;
  max-width: 100%;
  width: 50px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}
.air_search_box .weather p {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1em;
  position: relative;
  vertical-align: middle;
}
.air_search_box .weather p:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: -13px;
  box-sizing: border-box;
}
/* ========================= contents */
#contents {
  width: 100%;
  height: auto;
}
/* contents 에 모두 동일하게 적용되는 요소 */
.mini_title {
  color: #00589e;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1em;
  margin-bottom: 10px;
}
.big_title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 1em;
}
/* ==================== content1 */
#content1 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
/* content1 > area_1 */
#content1 .area_1 {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 70px 0 0;
}
/* area_1 > area1_txt */
.area1_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
.area1_txt p:nth-child(3) {
  padding-top: 15px;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 1em;
}
/* area_1 > area1_ct */
.area1_ct {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 20px auto 0;
}
/* area1_ct > air_process */
.area1_ct .air_process {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 34px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
/* air_process > process_header */
.air_process .process_header {
  width: 100%;
}
/* process_header > pro_time */
.process_header .pro_time {
  height: 80px;
  position: relative;
}
/* pro_time > total_time */
.pro_time .total_time {
  display: block;
  color: #870f69;
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}
.pro_time .total_time span {
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
/* process_header > pro_state */
.process_header .pro_state {
  margin-top: 30px;
  position: relative;
}
/* pro_state > sta_current */
.pro_state .sta_current {
  float: left;
  font-size: 0;
}
.pro_state .sta_current * {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.5px;
}
.pro_state .sta_current .now_time {
  font-size: 24px;
  font-weight: bold;
}
.pro_state .sta_current span {
  padding: 0 10px;
  font-size: 22px;
}
.pro_state .sta_current button {
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/Icon_process_reload.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  text-indent: -99999px;
}
/* pro_state > sta_type */
.pro_state .sta_type {
  position: absolute;
  top: -60px;
  right: 0;
}
.pro_state .sta_type button {
  display: inline-block;
  font-size: 22px;
}
.pro_state .sta_type button:nth-of-type(2) {
  margin-left: 15px;
}
.pro_state .sta_type button.on {
  font-weight: bold;
  border-bottom: solid 5px #000;
}
/* pro_state > sta_status */
.pro_state .sta_status {
  float: right;
}
.pro_state .sta_status ul li {
  float: left;
  margin-left: 30px;
}
.pro_state .sta_status ul li:nth-of-type(1) {
  margin-left: 0;
}
.pro_state .sta_status ul li span {
  display: block;
  font-size: 18px;
  position: relative;
}
.pro_state .sta_status ul li span:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: -6px;
  left: -8px;
}
.pro_state .sta_status ul li .st_good:before {
  background: #589ce4;
}
.pro_state .sta_status ul li .st_normal:before {
  background: #62d144;
}
.pro_state .sta_status ul li .st_busy:before {
  background: #f98f39;
}
.pro_state .sta_status ul li .verybusy:before {
  background: #d93436;
}
/* air_process > process_mosion */
.air_process .process_mosion {
  width: 100%;
  margin-top: 0;
  overflow-x: auto;
}
/* process_mosion > mosion_top */
.process_mosion .mosion_top {
  width: 1180px;
  height: 390px;
  background-image: url(../img/Img_mosion_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
/* mosion_top > walk_line */
.mosion_top .walk_line {
  width: calc(100% - 168px);
  height: 95px;
  position: absolute;
  top: 211px;
  left: 168px;
  overflow: hidden;
}
/* walk_line > walk_line_ct */
.walk_line .walk_line_ct {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 95px;
  opacity: 0;
}
.walk_line .walk_line_ct.on {
  animation: mosion linear 13s infinite;
}
@keyframes mosion {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}
/* walk_line_ct > human */
.walk_line_ct .human {
  position: relative;
  width: 60px;
  height: 95px;
  background: url(../img/Icon_walk_human.png) repeat-x;
}
.walk_line_ct .human.on {
  animation: walk 0.7s steps(2) infinite;
}
@keyframes walk {
  0% {
    background-position: 0;
    left: 0;
  }
  100% {
    background-position: -120px;
  }
}
/* mosion_top > ul */
.mosion_top ul {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mosion_top ul li {
  width: calc(100% / 7);
  height: 50px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  float: left;
}
/* process_mosion > mosion_bottom */
.process_mosion .mosion_bottom {
  width: 1180px;
  height: 70px;
}
/* mosion_bottom > MSB */
.mosion_bottom .MSB {
  height: 35px;
  border: dashed 1px #4c77ab;
  border-top: 0;
  float: left;
  position: relative;
}
.mosion_bottom .MSB:before {
  content: "";
  width: 10px;
  height: 7px;
  background-image: url(../img/Icon_mosion_arr.png);
  position: absolute;
  top: 0;
  right: -5px;
}
.mosion_bottom .step_1 {
  width: 340px;
  height: 35px;
  margin-left: 253px;
}
.mosion_bottom .step_2 {
  width: 161px;
  height: 35px;
  margin-left: 5px;
}
.mosion_bottom .step_3 {
  width: 161px;
  height: 35px;
  margin-left: 5px;
}
.mosion_bottom .step_4 {
  width: 161px;
  height: 35px;
  margin-left: 5px;
}
/* MSB > MSB_ct */
.MSB .MSB_ct {
  width: 140px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.MSB .MSB_ct p {
  height: 40px;
  border-radius: 40px;
  background: #ffffff;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.MSB .MSB_ct p:after {
  content: "";
  clear: both;
  display: block;
}
.MSB .MSB_ct p strong span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.MSB .MSB_ct .MSB_good {
  background-color: #589ce4;
}
.MSB .MSB_ct .MSB_normal {
  background-color: #62d144;
}
.MSB .MSB_ct .MSB_busy {
  background-color: #f98f39;
}
.MSB .MSB_ct .MSB_verybusy {
  background-color: #d93436;
}
.MSB .MSB_ct p em {
  display: block;
  color: red;
  text-indent: -99999px;
}
.MSB .MSB_ct p strong {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
/* air_process > process_txt */
.air_process .process_txt {
  margin-top: 10px;
}
.air_process .process_txt li {
  padding-left: 20px;
  /* letter-spacing: -1.2px; */
  letter-spacing: -2px;
  text-align: left;
  position: relative;
}
.air_process .process_txt li:before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}
.air_process .process_txt li span {
  color: #a60436;
  font-weight: 700;
  letter-spacing: -1.2px;
}
/* ==================== content2 */
#content2 {
  width: 100%;
  height: auto;
  background-color: #e9edf4;
}
/* content2 > area_2 */
#content2 > .area_2 {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 175px 0 100px;
}
/* area_2 > area2_txt */
.area_2 > .area2_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
/* area_2 > area2_ct */
.area_2 > .area2_ct {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 65px auto 0;
  font-size: 0;
  display: flex;
  justify-content: center;
}
.area2_ct > .Guide {
  display: inline-block;
  width: calc(50% - 15px);
  margin-right: 30px;
  padding: 35px 45px 65px 35px;
  background-color: #ffffff;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}
.area2_ct > .Guide p {
  margin-bottom: 45px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e6e6e6;
  color: #000;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 1em;
  text-align: center;
}
.area2_ct > .Guide a {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  vertical-align: top;
}
.area2_ct > .Guide a img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.area2_ct > .Guide a span {
  display: block;
  margin-top: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1em;
  word-break: keep-all;
}
.area2_ct > .Guide .GD_icon_top {
  margin-top: 60px;
}
.area2_ct > .guide_in {
  margin-right: 0px;
}
/* ==================== content3 */
#content3 {
  width: 100%;
  height: auto;
  background-image: url(../img/Main_Visual2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* content3 > area_3 */
#content3 > .area_3 {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
/* area_3 > reserve */
.area_3 > .reserve {
  max-width: 1180px;
  width: 100%;
  padding: 55px 120px 50px 120px;
  background-color: #f5f5f5;
}
/* reserve > reserve_txt */
.reserve > .reserve_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
/* reserve > fieldset */
.reserve > fieldset {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border: none;
  font-size: 0;
}
.reserve > fieldset legend {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: 0;
}
/* fieldset > reserve_line */
.reserve_line {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #b3b4b8;
  font-size: 0;
  text-align: left;
  position: relative;
}
.reserve_line button {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
  vertical-align: middle;
  font-size: 0;
}
.reserve_line button:nth-of-type(2) {
  margin-left: 35px;
}
.reserve_line button.on:before {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #00589e;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.reserve_line button span {
  color: #5b5c5e;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1em;
}
.reserve_line button.on span {
  color: #00589e;
}
/* reserve_line > re_check */
.reserve_line .re_check {
  width: 150px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.reserve_line .re_check span {
  display: inline-block;
  height: 20px;
  margin-right: 30px;
  position: relative;
  vertical-align: top;
  font-size: 0;
}
.reserve_line .re_check span:nth-of-type(2) {
  margin-right: 0;
}
.reserve_line .re_check span input {
  vertical-align: middle;
}
.reserve_line .re_check span input[type="radio"] {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #000;
}
.reserve_line .re_check span label {
  display: inline-block;
  /* margin-left: 3px; */
  padding-left: 27px;
  color: #000;
  letter-spacing: -1px;
  line-height: 20px;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
/* fieldset > reserve_ct */
.reserve_ct {
  width: 100%;
  margin-top: 5px;
  font-size: 0;
}
/* reserve_ct > Reserve */
.reserve_ct .Reserve {
  display: inline-block;
  width: calc(50% - 27.5px);
  min-height: 90px;
  margin-right: 55px;
  font-size: 0;
  position: relative;
  vertical-align: top;
}
.reserve_ct .Reserve:nth-of-type(2) {
  margin-right: 0;
}
.reserve_ct .Reserve:nth-of-type(4) {
  margin-right: 0;
}
.reserve_ct .Reserve label {
  display: block;
  margin: 25px 0 15px 0;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
}
.reserve_ct .Reserve select {
  width: 100%;
  height: 60px;
  padding: 0 35px 0 13px;
  border-bottom: 1px solid #cacdd4;
  background: #ffffff url(../img/Icon_select_arr.png) no-repeat right 13px top
    50%;
  font-weight: bold;
  vertical-align: middle;
}
.reserve_ct .Reserve input {
  display: inline-block;
  width: calc(50% - 10px);
  height: 60px;
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid #cacdd4;
  font-weight: bold;
  line-height: 41px;
  vertical-align: middle;
}
.reserve_ct .Reserve select option {
  background-color: #ffffff;
}
/* Reserve > RE_mg */
.Reserve .RE_mg {
  margin-right: 20px;
}
/* Reserve > re_option1 */
.Reserve .re_option1 {
  display: inline-block;
  width: calc(50% - 10px);
  vertical-align: top;
}
/* Reserve > re_option2 */
.Reserve .re_option2 {
  width: 100%;
  font-size: 0;
}
.Reserve .re_option2 .re_line {
  display: inline-block;
  width: 20px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
/* Reserve > re_option3 */
.Reserve .re_option3 {
  width: 100%;
  font-size: 0;
}
.Reserve .re_option3 .re_button {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 0 35px 0 13px;
  border: none;
  border-bottom: 1px solid #cacdd4;
  background: #fff url(../img/Icon_select_arr.png) no-repeat right 13px top 50%;
  font-weight: bold;
  text-align: left;
}
/* re_option3 > re_type */
.re_option3 .re_type {
  display: none;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 30px -15px #666;
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 15;
}
.re_option3 .re_type.on {
  display: block;
}
/* re_type > re_type_list */
.re_type .re_type_list {
  width: 100%;
  height: auto;
}
.re_type .re_type_list > ul {
  width: 100%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  background: #f5f8fa;
  letter-spacing: -1px;
}
.re_type .re_type_list > ul > li {
  line-height: 40px;
  overflow: hidden;
}
.re_type .re_type_list > ul > li:nth-of-type(2) {
  margin-top: 13px;
}
.re_type .re_type_list > ul > li:nth-of-type(3) {
  margin-top: 13px;
}
.re_type .re_type_list > ul > li b {
  float: left;
  font-weight: bold;
}
.re_type .re_type_list > ul > li em {
  margin-left: 5px;
  color: #666;
  font-style: normal;
  /* font-size: 15px; */
  font-size: 14px;
}
.re_type .re_type_list .re_count {
  float: right;
  width: 135px;
  height: 40px;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 0;
  text-align: center;
}
.re_type .re_type_list .re_count button {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  vertical-align: top;
  overflow: hidden;
}
.re_type .re_type_list .re_count .count_del {
  background: url(../img/Ico_count_del.png) no-repeat center;
}
.re_type .re_type_list .re_count .count_add {
  background: url(../img/Icon_count_add.png) no-repeat center;
}
.re_type .re_type_list .re_count input {
  width: calc(100% - 80px);
  /* height: 40px; */
  height: 38.5px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
  line-height: 41px;
  text-align: center;
  vertical-align: middle;
}
/* re_type_list > re_type_btt */
.re_type_list .re_type_btt {
  padding: 20px;
  border-top: 1px solid #dbdee1;
  background-color: #ffffff;
}
.re_type_list .re_type_btt button {
  display: inline-block;
  border: 1px solid #a80638;
  vertical-align: top;
  transition: 0.2s;
}
.re_type_list .re_type_btt button:hover {
  background-color: #a80638;
}
.re_type_list .re_type_btt button:hover span {
  color: #ffffff;
}
.re_type_list .re_type_btt button span {
  display: block;
  width: auto;
  height: 100%;
  padding: 0 25px;
  color: #a80638;
  letter-spacing: -1px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}
.re_type_list .re_type_btt .type_in {
  border-color: #a80638;
  background-color: #a80638;
}
.re_type_list .re_type_btt .type_in span {
  color: #ffffff;
}
/* Reserve > re_option4 */
.Reserve .re_option4 {
  width: 100%;
  font-size: 0;
}
/* fieldset > button */
.reserve_btt {
  display: inline-block;
  width: 230px;
  margin-top: 40px;
  border: 1px solid #a70638;
  background-color: #a70638;
  vertical-align: top;
}
.reserve_btt span {
  display: block;
  min-width: 145px;
  width: auto;
  height: 58px;
  padding: 0 45px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 58px;
  text-align: center;
  overflow: hidden;
}
/* ==================== content4 */
#content4 {
  width: 100%;
  height: auto;
  background-color: #e9edf4;
}
/* content4 > area_4 */
#content4 > .area_4 {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 175px 0 100px;
}
/* area_4 > area4_txt */
.area_4 > .area4_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
/* area_4 > area4_ct */
.area_4 > .area4_ct {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 65px auto 0;
  font-size: 0;
}
/* area4_ct > traffic_box */
.area4_ct > .traffic_box {
  display: inline-block;
  width: calc(33.333% - 26.666px);
  height: 495px;
  margin-right: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  vertical-align: top;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.area4_ct > .traffic_box:hover {
  background-size: 120% 120%;
}
.area4_ct > .traffic_box:nth-of-type(3) {
  margin-right: 0;
}
.area4_ct > .TR_img1 {
  background-image: url(../img/Img_traffic_1.png);
}
.area4_ct > .TR_img2 {
  background-image: url(../img/Img_traffic_2.png);
}
.area4_ct > .TR_img3 {
  background-image: url(../img/Img_traffic_3.png);
}
/* traffic_box > traffic_info */
.traffic_box .traffic_info {
  width: calc(100% - 40px);
  min-height: 250px;
  padding: 35px 30px 10px 30px;
  background-color: #fff;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.traffic_box .traffic_info span {
  display: block;
  margin-bottom: 13px;
  color: #00589e;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1em;
}
.traffic_box .traffic_info b {
  display: block;
  margin-bottom: 35px;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1em;
}
.traffic_box .traffic_info p {
  display: block;
  letter-spacing: -0.5px;
  line-height: 27px;
  word-break: keep-all;
}
/* ==================== content5 */
#content5 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
/* content5 > area_5 */
.area_5 {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 165px 0 100px;
}
/* area_5 > area5_txt */
.area_5 > .area5_txt {
  width: 100%;
  height: auto;
  text-align: center;
}
/* area_5 > area5_ct */
.area_5 > .area5_ct {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 50px auto 0;
  font-size: 0;
}
/* area5_ct > service_box1 */
.area5_ct .service_box1 {
  width: 100%;
  height: 120px;
  margin-bottom: 40px;
  overflow: hidden;
}
.area5_ct .service_box1 a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 40px 20px 40px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.area5_ct .service_box1 a img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 3s;
  -webkit-transition: all 3s;
  -webkit-transform: translate(-50%, -50%);
}
.area5_ct .service_box1 a:hover img {
  transform: translate(-50%, -50%) scale(1.2);
  -webkit-transform: translate(-50%, -50%) scale(1.2);
}
.area5_ct .service_box1 a span {
  display: inline-block;
  padding-right: 76px;
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1em;
  position: relative;
  background-image: url(../img/Icon_service_arr.png);
  background-repeat: no-repeat;
  background-size: 54px auto;
  background-position: right center;
  z-index: 1;
}
.area5_ct .service_box1 a b {
  color: rgba(255, 255, 255, 0.7);
  font-size: 120px;
  letter-spacing: 23px;
  line-height: 1em;
  position: absolute;
  bottom: -15px;
  right: -30px;
}
/* area5_ct > service_box2 */
.area5_ct .service_box2 {
  display: inline-block;
  width: calc(33.333% - 26.666px);
  height: 390px;
  margin-right: 40px;
  vertical-align: top;
  overflow: hidden;
}
.area5_ct .service_box2:nth-of-type(4) {
  margin-right: 0;
}
.area5_ct .service_box2 a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.area5_ct .service_box2 a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 3s;
  -webkit-transition: all 3s;
  -webkit-transform: translate(-50%, -50%);
}
.area5_ct .service_box2 a:hover img {
  transform: translate(-50%, -50%) scale(1.2);
  -webkit-transform: translate(-50%, -50%) scale(1.2);
}
.area5_ct .service_box2 a span {
  display: block;
  margin-bottom: 13px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1em;
  position: relative;
  z-index: 1;
}
.area5_ct .service_box2 a b {
  display: block;
  padding-bottom: 75px;
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1em;
  position: relative;
  background-image: url(../img/Icon_service_arr.png);
  background-repeat: no-repeat;
  background-size: 54px auto;
  background-position: left bottom;
  z-index: 1;
}
/* ============================== footer */
#footer {
  width: 100%;
  height: auto;
  padding: 49px 0 46px;
  position: relative;
  background: #191a1a;
}
/* footer > footer_info */
footer .footer_info {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* footer_info > ft_site */
.footer_info .ft_site {
  position: absolute;
  top: 0;
  right: 0;
}
/* ft_site > ul */
.ft_site ul {
  width: 210px;
  overflow: hidden;
}
.ft_site ul li button {
  display: block;
  width: 210px;
  height: 45px;
  padding: 0 100px 0 15px;
  border: 1px solid #414242;
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 45px;
  background: url(../img/Icon_footer_site_arr.png) no-repeat right 17px top 50%;
}
/* ft_site > ft_pop_up */
.ft_site .ft_pop_up {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
}
.ft_site .ft_pop_up.on {
  display: block;
}
/* ft_pop_up > section */
.ft_pop_up section {
  max-width: 670px;
  width: 90%;
  max-height: 400px;
  height: 90%;
  background: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}
/* section > ft_pop_title */
.ft_pop_up section .ft_pop_title {
  display: block;
  width: calc(100% - 110px);
  padding: 35px 80px 30px 30px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 34px;
}
/* section > ft_pop_ct */
.ft_pop_up section .ft_pop_ct {
  height: calc(100% - 130px);
  padding-bottom: 30px;
  overflow: hidden;
}
/* ft_pop_ct > ft_pop_in */
.ft_pop_ct .ft_pop_in {
  padding: 0 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* ft_pop_in > ft_pop_in_ct */
.ft_pop_in .ft_pop_in_ct {
  max-width: 100%;
  max-height: none;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* ft_pop_in_ct > ft_pop_list */
.ft_pop_in_ct .ft_pop_list {
  overflow: hidden;
  width: auto;
  height: auto;
}
/* ft_pop_list > ft_pop_list_ct */
.ft_pop_list .ft_pop_list_ct {
  position: relative;
  overflow: hidden;
}
.ft_pop_list .ft_pop_list_ct ul {
  width: 90%;
  height: 270px;
  float: left;
  column-count: 3;
  column-rule: 1px solid #ddd;
  column-gap: 35px;
}
.ft_pop_list .ft_pop_list_ct ul li {
  display: block;
  margin: 0 0 10px 25px;
}
.ft_pop_list .ft_pop_list_ct ul li:hover {
  color: #00589e;
}
/* section > ft_pop_btt */
.ft_pop_up section .ft_pop_btt {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 32px;
  right: 30px;
  background: url(../img/Icon_footer_site_close.png) no-repeat 50% 50%;
  text-indent: -99999px;
  overflow: hidden;
}
/* footer_info > ft_menu */
.footer_info .ft_menu {
  width: 100%;
  overflow: hidden;
}
.footer_info .ft_menu li {
  margin-right: 12px;
  padding-right: 12px;
  position: relative;
  float: left;
}
.footer_info .ft_menu li:nth-of-type(5) {
  margin-right: 0;
  padding-right: 0;
}
.footer_info .ft_menu li:after {
  display: block;
  content: "";
  width: 1px;
  height: 13px;
  background: #fff;
  position: absolute;
  top: 2px;
  right: 0;
  opacity: 0.2;
}
.footer_info .ft_menu li a {
  display: block;
  height: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 19px;
}
.footer_info .ft_menu li:nth-of-type(1) a {
  color: #19a0ff;
}
/* footer_info > ft_util */
.footer_info .ft_util {
  width: 300px;
  position: absolute;
  top: auto;
  right: 30px;
  bottom: -10px;
  font-size: 0;
  text-align: right;
}
.footer_info .ft_util ul {
  display: inline-block;
  margin: 13px 0 0 10px;
  vertical-align: top;
}
.footer_info .ft_util ul li {
  margin-left: 20px;
  position: relative;
  float: left;
}
.footer_info .ft_util ul .ft_util_icon1 {
  background: url(../img/Icon_facebook.png) no-repeat center;
}
.footer_info .ft_util ul .ft_util_icon2 {
  background: url(../img/Icon_Naver.png) no-repeat center;
}
.footer_info .ft_util ul .ft_util_icon3 {
  background: url(../img/Icon_Instagram.png) no-repeat center;
}
.footer_info .ft_util ul li a {
  display: block;
  width: 21px;
  height: 21px;
  text-align: left;
  text-indent: -99999px;
  overflow: hidden;
}
/* footer_info > .tel */
.footer_info .tel {
  margin-top: 16px;
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  position: relative;
  text-align: left;
  overflow: hidden;
}
/* footer_info > address */
.footer_info address {
  margin-top: 16px;
  font-style: normal;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.footer_info address span {
  display: inline-block;
  margin: 0 12px 0 0;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  position: relative;
}
/* footer_info > copyright */
.footer_info .copyright {
  display: block;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
